src/conf/xml-resources/web-service-references/DataBaseService/wsdl/localhost_8080/DataBaseService/DataBaseService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wssdatabase/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wssdatabase/" name="DataBaseService">
<types>
<xsd:schema>
<xsd:import namespace="http://wssdatabase/" schemaLocation="http://localhost:8080/DataBaseService/DataBaseService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTableName">
<part name="parameters" element="tns:getTableName"/>
</message>
<message name="getTableNameResponse">
<part name="parameters" element="tns:getTableNameResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="DataBaseService">
<operation name="getTableName">
<input wsam:Action="http://wssdatabase/DataBaseService/getTableNameRequest" message="tns:getTableName"/>
<output wsam:Action="http://wssdatabase/DataBaseService/getTableNameResponse" message="tns:getTableNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://wssdatabase/DataBaseService/getTableName/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://wssdatabase/DataBaseService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://wssdatabase/DataBaseService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="DataBaseServicePortBinding" type="tns:DataBaseService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTableName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataBaseService">
<port name="DataBaseServicePort" binding="tns:DataBaseServicePortBinding">
<soap:address location="http://localhost:8080/DataBaseService/DataBaseService"/>
</port>
</service>
</definitions>